nav{
    background-color: #ffd235;
    border-bottom: black;
}
nav ul{
    list-style: none;
    display: flex;
}
nav .home-li{
    margin-right:auto;
}
nav a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 1em 2em;
    transition: bockground-color 150ms ease;
}
nav a:hover{
    background-color:#FFc300;
}
nav a.active{
    border-bottom:white;
}
/* navigation bar is above */
body {
    background: url("../images/B1.jpg");
    background-size:cover;
}
.container{
    color: white;
    font-size:large;
    text-align: center;
}
.title{
    margin-top:3em;
}
.name_list{
    line-height: 8px;
}
