nav{
    background-color: #ffd235;
    border-bottom: black;
}
nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
nav .home-li{
    margin-right:auto;
}
nav a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 1em 2em;
    transition: background-color 150ms ease;
}
nav a:hover{
    background-color:#FFc300;
}
nav a.active{
    border-bottom: 3px solid black;
}
nav .home-li,
nav .about-li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background: url("../images/B1.jpg");
    background-size:cover;
    min-height: 100vh;
    margin: 0;
}

.container{
    /* Text color changed to black for contrast */
    color: black;
    font-size:large;
    text-align: center;
    /* Added Yellow box styling */
    background-color: #FFc300;
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* Centers the box and gives it space */
    max-width: 800px; 
    margin: 50px auto; 
    padding: 20px;
}

.title{
    margin-top:3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.name_list{
    line-height: 8px;
}
