nav{
    background-color: #ffd235;
    border-bottom: black;
}
nav ul{
    list-style: none;
    display: flex;
}
nav .home-li{
    margin-right:auto;
}
nav a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 1em 2em;
    transition: bockground-color 150ms ease;
}
nav a:hover{
    background-color:#FFc300;
}
nav a.active{
    border-bottom:black;
}
/* navigation bar is above */
body {
    background: url("../images/B1.jpg");
    background-size:cover;
    min-height: 100vh; 
}
.content-row{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}
.container{
    display: flex;
    justify-content: left;
    flex-wrap:wrap;
    margin: 10px;
    padding: 10px;
    width: 10px;
    height: 635px;
}
.cards{
    height: 286px;
    width: 198px;
    margin: 0 20px 54px 0; /* the seccond is space to the right and the thrid is space down*/ 
    
}
#code_container{
background-color: #FFc300;
    width: 400px;
    height: 100px;
    display: flex;             
    flex-direction: column;    
    justify-content: center;   
    align-items: center;

    margin: 10px;
}
.card-btn{
    background: transparent;
    background-color: transparent;
    Border: none;
}
