nav{
    background-color: #ffd235;
    border-bottom: black;
}

nav ul{
    list-style: none;
    display: flex;
}

nav .home-li{
    margin-right:auto;
}

nav a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 1em 2em;
    transition: bockground-color 150ms ease;
}

nav a:hover{
    background-color:#FFc300;
}

nav a.active{
    border-bottom:black;
}

#wheel{
    width: 250px;
    height: 250px;
}
#spinner{
    float: right;
    z-index: 40;
}
