nav{
    background-color: #ffd235;
    border-bottom: black;
}

nav ul{
    list-style: none;
    display: flex;
}

nav .home-li{
    margin-right:auto;
}

nav a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 1em 2em;
    transition: bockground-color 150ms ease;
}

nav a:hover{
    background-color:#FFc300;
}

nav a.active{
    border-bottom:black;
}

/* navigation bar is above */

body {
    background: url("../images/casino_slots_background.png");
    background-size:cover;
}

#slot-machine {
    position: absolute;
    top: 360px;
    left: 350px;
    width: 1000px;
    height: auto;
    overflow: hidden;
    display: flex;
    gap:10px;
}

.reel {
    width: 100px;
    height: 120px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.reel img {
    width: 100%;
    height: 100%;
    display: block;
}

.spin {
    animation:spin 0.2s linear infinite;
}

@keyframes spin{
    0% { transform:translateY(0); }
    100% {transform: translateY(-120px);}
}

.slotMachine{
    position: relative;
    display: inline-block;
}

.base-image {
    display: block;
    width: 1000px;
    height: auto;
}

.handle-button {
    position: absolute;
    top:350px;
    left: 700px;
    width:200px;
    height:400px;
    background:none;
    border:none;
    cursor:pointer;
    z-index:50;
}
.handle {
    position: absolute;
    top: 12px;
    left: 50px;
    width: 1000px;
    height: auto;
    z-index: 40;
}

.hidden {
    display: none;
}

.open-machine {
    position: absolute;
    top: 320px;
    left: -138px;
    width: 1250px;
    height: auto;
}

.slot-row {
  font-size: 3rem;
  margin: 20px;
}

#nextBtn {
  padding: 10px 20px;
  font-size: 1.3rem;
  cursor: pointer;
}

#codeInput {
  font-size: 1.5rem;
  width: 80px;
  text-align: center;
  margin-top: 20px;
}


