nav{
    background-color: #ffd235;
    border-bottom: black;
}

nav ul{
    list-style: none;
    display: flex;
}

nav .home-li{
    margin-right:auto;
}

nav a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 1em 2em;
    transition: bockground-color 150ms ease;
}

nav a:hover{
    background-color:#FFc300;
}

nav a.active{
    border-bottom:black;
}

/* navigation bar is above */

body {
    background: url("../images/casino_slots_background.png");
    background-size:cover;
